.form-fact {
  display: flex;
  background-color: #44403c;
  margin: 1rem auto 30px;
  padding: 1em 2em;
  justify-content: space-around;
  align-items: center;
  /* flex-grow: 1; */
  border-radius: 16px;
  gap:16px;
  font-size: 18px;

}

.form-fact input:first-child {
  flex-grow: 1;
}


input {
  font-size:18px;
  padding: 16px;
  flex-basis: 220px;
  border-radius:100px;
  background-color:#78716c ;
}

input::placeholder{
  color: white;
  font-size: 18px;
}



.post button {
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  padding:1em 2rem;
  margin-bottom: 0;
}

span {
  margin-right: 1rem;
}

select {
  background-color: #78716c;
  font-size: 18px;
  width:220px;
  padding: 16px;
  border-radius: 100px;
}