* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Sono", system-ui,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #292524;
  color:#fafaf9;
}

.App{
  max-width: 1440px;
  margin: 1rem auto 0;

}

h1 {
  font-family: "Coiny";
}

.btn {
  font-family: "Coiny";
}

